.cointainer {
  background-color: yellow;
  width: 100%;
  height: 1200px;
}

.heading {
  text-align: center;
  padding-top: 30px;
}

.trans1 {
  display: flex;
  margin-top: 100px;
}
li {
  margin-left: 400px;
}

.card1 {
  height: 150px;
  width: 150px;
  background-color: aqua;
  margin-left: 50px;
  animation-name: sud;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes sud {
  0% {
    transform: skew(20deg);
  }
  50% {
    transform: skew(-20deg);
  }
  100% {
    transform: skew(20deg);
  }
}

.trans2 {
  display: flex;
  margin-top: 150px;
}

.card2 {
  height: 150px;
  width: 150px;
  background-color: rgb(2, 8, 87);
  margin-left: 50px;
  animation-name: sud1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes sud1 {
  0% {
    transform: skewy(30deg);
  }
  50% {
    transform: skewy(-30deg);
  }
  100% {
    transform: skewy(30deg);
  }
}

.trans3 {
  display: flex;
  margin-top: 100px;
}

.card3 {
  height: 150px;
  width: 150px;
  background-color: rgb(12, 127, 127);
  margin-left: 50px;
  animation-name: sud2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes sud2 {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.trans4 {
  display: flex;
  margin-top: 100px;
}

.card4 {
  height: 150px;
  width: 150px;
  background-color: rgb(12, 127, 127);
  margin-left: 50px;
  animation-name: sud3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes sud3 {
  0% {
    transform: scaley(0.5);
  }
  50% {
    transform: scaley(1);
  }
  100% {
    transform: scaley(0.5);
  }
}

.card5 {
  height: 150px;
  width: 150px;
  background-color: pink;
  margin-left: 50px;
  animation-name: sud4;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes sud4 {
  0% {
    transform: scalex(0.5);
  }
  50% {
    transform: scalex(1);
  }
  100% {
    transform: scalex(0.5);
  }
}

.card6 {
  height: 150px;
  width: 150px;
  background-color: rgb(142, 5, 28);
  margin-left: 50px;
  animation-name: sud5;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes sud5 {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

a {
  font-size: 1.6rem;
  margin-left: 600px;
  margin-top: 100px;
}

.l2 {
  margin-left: 200px;
}

.box1 {
  background-color: green;
  height: 100px;
  width: 100px;
  margin: 40px;
  transition-duration: 3s;
}

.box1:hover {
  transform-origin: left;
  transform: scalex(2);
}
.box2 {
  background-color: green;
  height: 100px;
  width: 100px;
  margin: 40px;
  transition-duration: 3s;
}
.box2:hover {
 height: 200px;
 width: 200px;
}

.box3 {
  background-color: green;
  height: 100px;
  width: 100px;
  margin: 40px;
}

.cointainer a {
  margin-left: 700px;
}



.game {
  height: 500px;
  width: 100%;
  background-image: url(./images/sky.jpg);
  background-size: cover;
}

.game h1 {
  text-align: center;
 
  position: absolute;
  margin-left: 40%;
  margin-top: 50px;
  background-image: linear-gradient(to right, orange, white, green);
}

.main {
  height: 100px;
  width: 100%;
}

.sun {
  height: 80px;
  width: 80px;
  position: relative;
  left: 1500px;
  bottom: 300px;

  animation-name: sun;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes sun {
  0% {
    right: 0%;
  }
  100% {
    left: -100%;
  }
}

.city {
  background-image: url(./images/city.jpg);
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 200px;
}
.flag{
 
    height: 60px;
    width: 70px;
    position: absolute;
    z-index: 1;
    bottom: 215px;
    left:860px;
}

.wheel1 {
  height: 70px;
  width: 70px;
  margin-left: 150px;
  animation-name: wheel;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  left: 375px;
  bottom: 70px;
  z-index: 1;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wheel2 {
  height: 70px;
  width: 70px;

  animation-name: wheel;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  left: 577px;
  bottom: 70px;
  z-index: 1;
  
}

.car {
  height: 200px;
  width: 450px;
  position: relative;
  left: 480px;
  bottom: 250px;
  z-index: 1;
}

.road {
  height: 300px;
  width: 200%;
  background-image: url(./images/road.png);
  background-size: cover;
  position: relative;
  bottom: 360px;

  animation-name: road;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes road {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}